@{
    ViewData["Title"] = "Home Page";
    Layout = null;

    string[] Margherita = { "Margherita", "Pomodoro, mozzarella", "image", "5"};
    string[] Marinara = { "Marinara", "Pomodoro, aglio", "image", "5" };
    string[] Patate = { "Patate", "Pomodoro, mozzarella, patate", "image", "6" };
    string[] Zucchine = { "Zucchine", "Pomodoro, mozzarella, zucchine", "imgae", "6" };
    List<Array> Pizze = new List<Array>();
    Pizze.Add(Margherita);
    Pizze.Add(Marinara);
    Pizze.Add(Patate);
    Pizze.Add(Zucchine);
}



<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<table class="table container">
    <thead>
        <tr>
           
            <th scope="col">Nome</th>
            <th scope="col">Descrizione</th>
            <th scope="col">Foto</th>
            <th scope="col">Prezzo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Array pizza in Pizze)
        {
           
            <tr>
                
                @foreach(string text in pizza){
                    <td>@text</td>
                }
       
            </tr>
    
        }
    </tbody>
</table>